# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# Secrets
.env

# Model weights (too big for git)
weights/*.pth
weights/*.pt

# IDE
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
